.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #09d3ac;
}

.Detail-Container {
  display: flex;
}

.Cover-Image {
  float: left;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.Detail-Content {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Abi {
  padding: 16px;
}

.Back-Button {
  position: absolute;
  float: left;
  top: 16px;
  left: 16px;
  cursor: pointer;
}

.Search-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
